<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020-2021 Антон Аксенов (Anthony Axenov)
  ~
  ~ This code is licensed under MIT.
  ~ Этот код распространяется по лицензии MIT.
  ~ https://github.com/anthonyaxenov/atol-online/blob/master/LICENSE
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
	<testsuites>
		<testsuite name="Helpers">
			<file>tests/AtolOnline/Tests/HelpersTest.php</file>
		</testsuite>
		<testsuite name="Entities">
			<directory>tests/AtolOnline/Tests/Entities</directory>
		</testsuite>
		<testsuite name="Collections">
			<directory>tests/AtolOnline/Tests/Collections</directory>
		</testsuite>
		<testsuite name="Api">
			<directory>tests/AtolOnline/Tests/Api</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
